repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: check-yaml
    exclude: "mkdocs.yml"
  - id: end-of-file-fixer
    exclude: "(.*.svg)|(tests/data/mgf/.*.mgf)|(tests/data/msp/.*.msp)"
  - id: trailing-whitespace
    exclude: "(tests/data/mgf/.*.mgf)"
- repo: https://github.com/psf/black
  rev: 22.10.0
  hooks:
    - id: black
      language_version: python3.8
- repo: https://github.com/keewis/blackdoc
  rev: v0.3.8
  hooks:
    - id: blackdoc
- repo: https://github.com/asottile/pyupgrade
  rev: v3.2.2
  hooks:
  - id: pyupgrade
    args: [--py38-plus]
- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
    - id: isort
      name: isort (python)
- repo: https://github.com/PyCQA/autoflake
  rev: v1.7.7
  hooks:
  - id: autoflake
- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.0.124
  hooks:
    - id: ruff
- repo: https://github.com/python-poetry/poetry
  rev: 1.2.2
  hooks:
    - id: poetry-check
    - id: poetry-lock
    - id: poetry-export
      args: ["-f", "requirements.txt", "-o", "requirements.txt"]
- repo: local
  hooks:
  - id: pytest
    name: pytest-check
    entry: poetry run python -m pytest -x
    language: system
    pass_filenames: false
    always_run: true
  - id: build_docs
    name: build_docs
    entry: poetry run python -m mkdocs build --strict
    language: system
    pass_filenames: false
    always_run: true
